---
import Layout from "./Layout.astro";

interface Props {
    title: string
}
const { title } = Astro.props

---
<Layout title={title}>
<main>
    <slot/>
</main>
</Layout>

<style lang="scss">
@use "../styles/bp";
main {
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;

    @include bp.for-tablet-landscape-up() {
        max-width: 60%;
    }
    @include bp.for-big-desktop-up() {
        max-width: 40%;
    }
}
</style>